@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchForm{
    width: 100%;
    gap: 10px;
    padding: 1rem 0;
    @include flex-center;

   input{
    max-width: 400px;
    width: 100%;
    height: 35px;
    border: 1.5px solid black;
    border-radius: 8px;
    padding: 10px;
   }

   button{
    width: 100px;
    height: 35px;
    border: 2px solid lightskyblue;
    background: lightskyblue;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    @include flex-center;
    &:active{
        background: transparent;
    }
   }
}

.appTitle{
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}

.movieContainer{
    padding: 1rem;
    width: 210px;
    height: 430px;
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    h2{
        font-size: 1rem;
    }
    a{
        color: black;
        text-align: center;
        text-decoration: none;
    }
}

.movieData{
    @include flex-center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 2rem;
}

